@using Microsoft.AspNetCore.Components

<link rel="stylesheet" href="css/theme.css" />

<div class="page-blank">
    <div class="page-card">
        @Body
    </div>
    
    <script>
        (function(){
            try{ bobcrm.setTheme(bobcrm.getTheme()); bobcrm.setPrimary(bobcrm.getPrimary()); }catch(e){}
        })();
    </script>
</div>

@code {
    [Parameter] public RenderFragment? Body { get; set; }
}
