@page "/"
@rendermode RenderMode.InteractiveServer

@inject BobCrm.App.Services.I18nService I18n

<PageTitle>@I18n.T("LBL_HOME")</PageTitle>

<h1>@I18n.T("LBL_WELCOME")</h1>

<p>
    - <a href="/login">@I18n.T("LBL_LOGIN_TITLE")</a><br />
    - <a href="/customers">@I18n.T("MENU_CUSTOMERS")</a>
</p>
